In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.getcwd()

'C:\\Users\\Ravi'

In [3]:
df = pd.read_csv('match.csv')

In [4]:
df

  actual1 actual2 actual3 pred1 pred2 pred3
0       A       D       G     A     D     G
1       B       E       H     B     S     B
2       C       F       I     C     F     G

In [ ]:
df['result'] = np.where

In [8]:
df['Result'] = np.where(((df['actual1'] == df['pred1']) & 
                         (df['actual2'] == df['pred2']) & 
                         (df['actual3'] == df['pred3'])),1,0)
                        
df

  actual1 actual2 actual3 pred1 pred2 pred3  Result
0       A       D       G     A     D     G       1
1       B       E       H     B     S     B       0
2       C       F       I     C     F     G       0

In [ ]:
# m1 = load['date'].isin([i for i in jp_hol.keys()]) | (load['day_of_week_int']==6)
# m2 = load['day_of_week_int'].isin([i for i in range(0,5)])
# m3 = load['day_of_week_int']==5


# load['flag']=np.where(m1, 'holiday',
#              np.where(m2, 'weekday',
#              np.where(m3, 'sate', 'no match'))

In [20]:
m1 = (df['actual1'] == df['pred1']) & (df['actual2'] == df['pred2']) &  (df['actual3'] == df['pred3'])
                        
m2 = (df['actual1'] == df['pred1']) & (df['actual2'] == df['pred2'])



df['flag'] = np.where(m1, 'M',
             np.where(m2, 'P', 'NM'))
df

  actual1 actual2 actual3 pred1 pred2 pred3  Result flag id_label
0       A       D       G     A     D     G       1    M        M
1       B       E       H     B     S     B       0   NM       NM
2       C       F       I     C     F     G       0    P        P

In [ ]:
# conditions = [df['gender'].eq('male') & df['pet1'].eq(df['pet2']),
#               df['gender'].eq('female') & df['pet1'].isin(['cat', 'dog'])]

# choices = [5,5]

# df['points'] = np.select(conditions, choices, default=0)

In [ ]:
# df = pd.DataFrame({'col_1':[133,255,36,477,55,63]})

# df['col_2'] = df['col_1'].astype(str).str[0]

# condlist = [df['col_2'] == "1",
#             df['col_2'] == "2",
#             df['col_2'] == "3",
#             df['col_2'] == "4",
#             ((df['col_2'] == "5") | (df['col_2'] == "6")),
#             ]
# choicelist = ['Maine','California','India', 'Frnace','5/6']

# df['id_label'] = np.select(condlist, choicelist)

In [21]:
condlist = [(df['actual1'] == df['pred1']) & (df['actual2'] == df['pred2']) &  (df['actual3'] == df['pred3']),
            (df['actual1'] == df['pred1']) & (df['actual2'] == df['pred2']), ]

choicelist = ['M','P']

df['id_label'] = np.select(condlist, choicelist, default= 'NM')

In [22]:
df

  actual1 actual2 actual3 pred1 pred2 pred3  Result flag id_label
0       A       D       G     A     D     G       1    M        M
1       B       E       H     B     S     B       0   NM       NM
2       C       F       I     C     F     G       0    P        P